@import url('https://fonts.googleapis.com/css2?family=Gidole&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFFFFF;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  min-width: 320px;
  min-height: 100vh;
}

.input-form {
  @apply p-2 text-black border-green-600 border-2 rounded-2xl outline-0 xl:w-[20rem] xl:h-[3rem];
}
